jobs:
    dependency-review:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
            - name: Dependency Review
              uses: actions/dependency-review-action@v4
              with:
                comment-summary-in-pr: never
                fail-on-severity: high
                license-check: false
                show-openssf-scorecard: false
                warn-only: false
name: Dependency Review
"on":
    pull_request:
        branches:
            - main
            - master
        types:
            - opened
            - edited
            - synchronize
            - reopened
permissions:
    contents: write
    id-token: write
    pull-requests: write
    security-events: write
