jobs:
    mark-container-job:
        container:
            env:
                MARK_PASSWORD: ${{ secrets.ATLASSIAN_API_TOKEN }}
                MARK_USERNAME: ${{ vars.ATLASSIAN_USERNAME }}
            image: kovetskiy/mark:12.2.0
            options: --cpus 1
        runs-on: ${{ fromJSON(vars.BLACKSMITH_ENABLED || 'false') && 'blacksmith-2vcpu-ubuntu-2404' || 'ubuntu-latest' }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
            - name: Check if mark.toml exists
              run: 'test -f mark.toml || (echo ''Error: mark.toml not found in the docs folder'' && exit 1)'
              working-directory: ./docs
            - name: Convert markdown docs to confluence
              run: mark --config mark.toml
              working-directory: ./docs
            - name: Notify success
              run: echo 'Successfully pushed documentation to Confluence'
name: Push Documentation to Confluence
"on":
    push:
        branches:
            - main
            - master
        paths:
            - docs/**
permissions:
    contents: read
